:root {
    --Azul: #3A6EA5;
    --AzulHover: #28496d;
    --Branco: #fff;
    --Branco2: #f5f5f5;
    --Preto: #000;
    --Cinza: #666;
    --Vermelho: #dc3545;
    --VermelhoHover: #bb2d3b;
  }
  